body {
    background-color: burlywood;
}
h1.h1 {
    text-align: center;
    color: red;
}
div.carta {
    position: relative;
    top: 400px;
    left: 100px ;
}
div.cafe {
    position: relative;
    top: 200px;
    left: 600px;
}
div.contacte {
    position: relative;
    top: 400px;
    left: 1300px ;
}

